* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'General Sans', sans-serif;
  transition: all 300ms;
}

/* @media only screen and (max-width: 900px) {
  nav {
    font-size: 50px;
  }
} */

html, body, #root {
  background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url('../../public/bg.jpg');
  background-size: cover;
  backdrop-filter: blur(5px);
  background-repeat: no-repeat;
  height: 100%;
  width: 100%;
  color: #fff;
  overflow: auto;
  scroll-behavior: smooth;
}

nav {
  display: flex;
  top: 0;
  margin: 0;

  height: 55px;
  width: 100%;

  justify-content: center;
  align-items: center;

  gap: 15px;
  padding: 15px;

  background-color: rgba(0, 0, 0, .255);
}

nav div {
  padding: 10px;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  height: calc(100% - 55px);
  gap: 5px;
  width: 100%;
}

.containerauto {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  height: auto;
  width: 100%;
  margin-bottom: 20px;
}

#wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  height: auto;
  flex-wrap: wrap;
  width: 100%;
  gap: 15px;
}

a {
  text-decoration: none;
  color: #fff;
}

.half {}

#project {
  display: flex;
  flex-direction: column;
  justify-content: left;
  min-width: 200px;
  height: auto;
  width: auto;
  padding: 10px 20px;
  border-radius: 7px;
  background-color: rgba(0, 0, 0, .255);

}